@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");



h1, h2, h3, h4, h5, h6 {
  color: #C4AF9A;
}

p {
  font-family: 'Lobster', cursive;
  color: #C4AF9A;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

legend {
  font-family: 'Lobster', cursive;
}

body {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size:26px;
    padding:0px;
    margin:0px;
	background-color: #1E1E24;
}

#page {
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
}


article {
	display:flex;
	position:absolute;
	top: 200px;
	width: 100%;
	flex-direction:column;
	justify-content: space-evenly;
	text-align: center;
}

.row {
	margin-top:10px;
	display:flex;
    flex-direction: row;
	justify-content: space-evenly;
}


.column {
	display:flex;
	flex-direction: column;
	margin-bottom: 5%;
	text-align: center;
}

footer {
	background-color: #1E1E24;
}

#login  .container  #login-row  #login-column  #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: 320px;
	border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
	width: 500px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
  }

  .form-group > input#remember-me{
	margin-left: 15px;
  }

  
  .form-group > a.text-info{
	margin-left: 15px;
  }


