@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  color: white;
}

p {
  font-family: 'Lobster', cursive;
  color: white;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

legend {
  font-family: 'Lobster', cursive;
}

body {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size:26px;
    padding:0px;
    margin:0px;
	background-color: black;
}

#page {
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
}

.header > h1{
	position:relative;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color:#34568B;
    left: 225px;
}

.header > img {
	position:relative;
	top:0%;
	left:0%;
	width:100%;
}


nav {
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
    background-color:white;
	position:absolute;
	opacity: 0.6;
	height:130px;
	width:100%;
	top:40px;
	left:0px;
	right:0px;
}

nav > h1 {
	border: #34568B solid 3px;
	padding: 5PX;
	border-radius: 5px;
}

nav > h1 > a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
  }

.bigbox 
{  
	background-color:white;
	position:absolute;
	opacity: 0.6;
	height:200px;
	width:100%;
	top:600px;
	left:0px;
	right:0px;
}

.bigbox > h1 {
	color: black;
	opacity: 0.9;
}

article {
	display:flex;
	position:absolute;
	top: 1000px;
	width: 100%;
	flex-direction:column;
	justify-content: space-evenly;
	text-align: center;
}

.row {
	display:flex;
    flex-direction: row;
	justify-content: space-evenly;
	margin-top: 2%;
}


.column {
	display:flex;
	flex-direction: column;
	margin-top: 5%;
	margin-bottom: 5%;
}

.smallcolumn {
	display:flex;
	flex-direction: column;
	width: 15%;
}

.element {
	color:white;
    width:300px;
    height:200px;
    padding: 10px;
}

input {
	width: 60%;
	height: 40px;
}

footer {
    position:relative;
	background-color:gray;
	width:100%;
	height:200px;
    right:0px;
    left:0px;
	bottom:0px;
}

footer > p {
	color: black;
}

.left {
    position:absolute;
    left:10px;
    }
    
.right {
    position:absolute;
    right:10px;}

form > input {
	width: 400px;
}

.box 
{  
	background-color:white;
	color: black;
	height:300px;
	width:500px;
}

.box > p
{  
	color: black;
}

.small-image {
	width: 250px; 
	height: 200px; 
  }

