extends layout

block content
    article
        .column
            .row
                h1 Currency Exchange

                    

        footer.footer.bg-dark.text-light.text-center.py-3
            | &copy; 2023 Currency Exchange 