extends layout 

block content 
    article
        .column
            #login
            h3.text-center.text-white.pt-5 Update Details form
            .container
              #login-row.row.justify-content-center.align-items-center
                #login-column.col-md-6
                  #login-box.col-md-12
                    form#login-form.form(action='/exchange' method='get')
                      h3.text-center.text-info Update Details
                      .form-group
                        label.text-info(for='username') Username:
                        br
                        input#username.form-control(type='text' name='username')                      
                      .form-group
                        label.text-info(for='email') Email:
                        br
                        input#email.form-control(type='text' name='email')
                      .form-group
                        label.text-info(for='phone') Phone:
                        br
                        input#phone.form-control(type='text' name='phone')
                      .form-group
                        label.text-info(for='password') Password:
                        br
                        input#password.form-control(type='text' name='password')
                      .form-group
                        label.text-info(for='conpassword') Confirm Password:
                        br
                        input#conpassword.form-control(type='text' name='conpassword')
                      .form-group
                        label.text-info(for='dateofbirth') Date of Birth:
                        br
                        input#dateofbirth.form-control(type='date' name='dateofbirth')
                      .form-group
                        br
                        input.btn.btn-info.btn-md(type='submit' name='submit' value='Update Account')
                        br
                        br
                        input.btn.btn-info.btn-md(type='submit' name='submit' value='Delete Account')
            
        footer.footer.bg-dark.text-light.text-center.py-3
            | &copy; 2023 Currency Exchange