footer
  p.right
    | Pawel&apos;s Gym&trade;,                                                                                                                                                                          
    br
    |                   96 Arra View,                                                                                                                                                                          
    br
    |                   Newcastle West,                                                                                                                                                                          
    br
    |                   Limerick,                                                                                                                                                                          
    br
    |                   Ireland
  p.left
    span#box
      a(href='#top') Top of page
    br
    | Not to by used without permission,                                                                                                                                                                          
    br
    |                   Pawel&apos;s Gym&trade;,                                                                                                                                                                          
    br
    |                   Copyright By Pawel Kaminski &copy;
