extends layout

block content
  article
    .column
      h1 Shopping
      .row
        each products in product
          .box
            p=products.name
            a(href='/product/' + products.id)
              img.small-image(src=products.image, alt=products.name)
            br
      .row
        each products in product
           .box    
            each feature in products.features
              p= feature
            br
    block append footer
      include footer.pug