extends layout

block content
    article
        .column
            .row
                h1 Gym Preview
            .row 
                .smallcolumn
                    img(src="/images/Treadmill.jpg" width="300" height="200" alt="Treadmills")
                    p The Treadmills in our gym are brand new and a great way of staying healthy!
                .smallcolumn
                    img(src="/images/Dumbell.jpg" width="300" height="200" alt="dumbells")
                    p The dumbbells in our gym range from lightweight to heavy, catering to all fitness levels and goals!
                .smallcolumn
                    img(src="/images/Racks.jpg" width="300" height="200" alt="racks")
                    p Our gym offers powerlifting compabilites!
            .row 
                h1 Gym Staff
            .row 
                h1 Gym Memberships
            block append footer
                include footer.pug