doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/stylesheets/fontawesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

body

    block content
    #page
      a#top
      .header
        nav.navbar-toggler
          .text-white
          h1.nav-item
            a.nav-link(href='/') Home
          h1.nav-item
            a.nav-link(href="/register") Register
          h1.nav-item
            a.nav-link(href="/login") Login
          h1.nav-item
            a.nav-link(href="/users") Contact