extends layout

block content
    article
        .column
            .row
                h1 Currency Exchange Preview
            .row

            .row 
            .row 
        footer.footer.bg-dark.text-light.text-center.py-3
            | &copy; 2023 Currency Exchange 