/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color and text color */
body {
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, sans-serif;
    background-color: #6b7a8f; /* Blue-gray background color */
}

/* Center the form */
.container {
    min-height: 50vh;
}

.reg-container {
    display: flex;
    justify-content: center;
}

/* Style the form panel */
.panel, .currency-exchange {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 35%;
    padding: 20px;
    margin: 5%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Box shadow for a professional look */

}

/* Style the panel title */
.panel-heading {
    background-color: #007BFF;
    color: #eff6ee;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px; /* Add margin to create space */
}

/* Style the form elements */
.form-group {
    display: flex;
    margin-bottom: 15px;
}

.fName,
.lName,
.email,
.mobile,
.password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
.register, .login, .UpdateAccount {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.CloseAccount {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Style small text */
.small-text {
    font-size: 80%;
    color: #777;
    text-align: center;
    margin-top: 10px;
}

.reg-link {
    padding: 5px 10px;
}

.reg-link a {
    color: #273043;
    text-decoration: none;
    transition: color 0.3s;
}

/* Change link color on hover */
.reg-link a:hover {
    color: orange;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.wallet-balance {
    display: flex;
    align-items: center;
}

.from-currency {
    padding: 5px;
}

.bal-amount {
    padding: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

.input-amount,
.receiving-amount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

#receive,
#amount {
    width: 100%;
    background-color: #0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
}

label,
select,
input {
    margin-bottom: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b7a8f;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}
